@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Outfit", sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {background: radial-gradient(circle at top left,
                  rgba(34, 197, 94, 08),
                  transparent 35%),
                  radial-gradient(circle at bottome right,
                  rgba(74, 222, 128, 05),
                  transparent 40%).
                  #050807;

                  color: white;

                 overflow-x: hidden;
    }

* {
  transition: background-color.2s,
              border-color  .2s
              color. 2s;
  }

  /* Scroollbar*/

  ::-webkit-scrollbar {
    width: 8px;
  } 

  ::-webkit-scrollbar-track {
    background:  #0A0F0D;
  }

  ::-webkit-scrollbar-thumb {
    background:  #15803D;
    border-radius: 100px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #22C55E;
  }